<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/images/logo.jpeg" alt="image" class="clickable-image">
        </div>
            
        <div class="nav-content">
            <a href="#">Home</a>
            <a href="#">Explore</a>
            <a href="/profile">Create</a>
        </div>
 
        <form action="/search" method="get">
          <input type="text" placeholder="Search..." name="q" autocomplete="off"> <!-- Added name attribute for search term -->
          <button type="submit">Search</button>
      </form>
      
       
           
        <div class="profile">
          <a href="/profile">
            <img src="/images/profile.jpeg" alt="Profile Picture" width="30" height="30">
          </a>
           
           
        </div>
    </nav>

    <section class="gallery">
        <div class="image">
          <img src="https://images.unsplash.com/photo-1682686581221-c126206d12f0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxNnx8fGVufDB8fHx8fA%3D%3D" alt="image" class="clickable-image"/>
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1682686581221-c126206d12f0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxNnx8fGVufDB8fHx8fA%3D%3D" alt="image" class="clickable-image"/>
        </div>
        <div class="image">
          <img src="https://plus.unsplash.com/premium_photo-1704686580626-d53ce68985d9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxN3x8fGVufDB8fHx8fA%3D%3D" alt="image" class="clickable-image"/>
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1628250521470-28c1fc54616c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8a3VydGF8ZW58MHx8MHx8fDA%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1560243563-062bfc001d68?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y2xvdGhpbmd8ZW58MHx8MHx8fDA%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1516762689617-e1cffcef479d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdGhpbmd8ZW58MHx8MHx8fDA%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1501127122-f385ca6ddd9d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNsb3RoaW5nfGVufDB8fDB8fHww" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1549468057-5b7fa1a41d7a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGluZGlhfGVufDB8fDB8fHww" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1506461883276-594a12b11cf3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fGluZGlhfGVufDB8fDB8fHww" alt="image" class="clickable-image">
        </div>
    



        <div class="image">
          <img src="https://images.unsplash.com/photo-1561359313-0639aad49ca6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDR8fGluZGlhfGVufDB8fDB8fHww" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1577083753695-e010191bacb5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTZ8fGluZGlhfGVufDB8fDB8fHww" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1523544463628-d873327f5217?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTl8fGluZGlhfGVufDB8fDB8fHww" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://plus.unsplash.com/premium_photo-1661956738380-930a35ffffee?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njl8fGluZGlhfGVufDB8fDB8fHww" alt="image" class="clickable-image">
        </div>

        <div class="image">
          <img src="https://images.unsplash.com/photo-1541471943749-e5976783f6c3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjZ8fGluZGlhfGVufDB8fDB8fHww" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1573398643956-2b9e6ade3456?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzl8fGluZGlhfGVufDB8fDB8fHww" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1596731972389-ca4240ac8d8d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzZ8fGluZGlhfGVufDB8fDB8fHww" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1604191049452-9f608997e57e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODN8fGluZGlhfGVufDB8fDB8fHww" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1519955266818-0231b63402bc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODd8fGluZGlhfGVufDB8fDB8fHww" alt="image" class="clickable-image">
        </div>



        <div class="image">
          <img src="https://plus.unsplash.com/premium_photo-1691992550453-a95a92fb5a70?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA1fHxpbmRpYXxlbnwwfHwwfHx8MA%3D%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1561819510-d31fda2bd345?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTl8fGluZGlhfGVufDB8fDB8fHww" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1596829568009-bc436aac1b63?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA0fHxpbmRpYXxlbnwwfHwwfHx8MA%3D%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1523428461295-92770e70d7ae?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTAzfHxpbmRpYXxlbnwwfHwwfHx8MA%3D%3D" alt="image" class="clickable-image">
        </div>

        <div class="image">
          <img src="https://plus.unsplash.com/premium_photo-1678597956152-4d92c3f4fc8e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTE3fHxpbmRpYXxlbnwwfHwwfHx8MA%3D%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1576557686977-eda3a3bb1ea2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTE4fHxpbmRpYXxlbnwwfHwwfHx8MA%3D%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://plus.unsplash.com/premium_photo-1676285070008-fb0cc5c24bb7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTM3fHxpbmRpYXxlbnwwfHwwfHx8MA%3D%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1599106242946-fd550dac004c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTI2fHxpbmRpYXxlbnwwfHwwfHx8MA%3D%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1601821139990-9fc929db79ce?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTM2fHxpbmRpYXxlbnwwfHwwfHx8MA%3D%3D" alt="image" class="clickable-image">
        </div>



        <div class="image">
          <img src="https://images.unsplash.com/photo-1568992688126-81f7e621ac32?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHBpbnRlcmVzdHxlbnwwfHwwfHx8MA%3D%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1620071436087-1386572f4014?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDJ8fHBpbnRlcmVzdHxlbnwwfHwwfHx8MA%3D%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1573820213805-b5146042cc49?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTh8fHBpbnRlcmVzdHxlbnwwfHwwfHx8MA%3D%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1605937136522-47b3c7214078?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzB8fHBpbnRlcmVzdHxlbnwwfHwwfHx8MA%3D%3D" alt="image" class="clickable-image">
        </div>

        <div class="image">
          <img src="https://images.unsplash.com/photo-1669408276432-10cd3a07fe89?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTAwfHxwaW50ZXJlc3R8ZW58MHx8MHx8fDA%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1693743057688-9bb45200514d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE5fE04alZiTGJUUndzfHxlbnwwfHx8fHw%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1650339157060-638d0d8b9582?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDExfHFQWXNEenZKT1ljfHxlbnwwfHx8fHw%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1705957305386-9910977c1e4a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDM1fHFQWXNEenZKT1ljfHxlbnwwfHx8fHw%3D" alt="image" class="clickable-image">
        </div>
        <div class="image">
          <img src="https://images.unsplash.com/photo-1704559335305-09d215b72dd6?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image" class="clickable-image">
        </div>
      </section>

      <script>
        // Get all elements with the "clickable-image" class
        var clickableImages = document.querySelectorAll(".clickable-image");
    
        // Attach a click event listener to each image
        clickableImages.forEach(function (image) {
            image.addEventListener("click", function () {
                // Set the clicked image source in a cookie
                document.cookie = `clickedImageSrc=${image.src}; path=/`;
    
                // Redirect to the "/open" page
                window.location.href = "/open";
            });
        });

        var openProfile = document.querySelector(".profile");

        openProfile.addEventListener("click", function(){
          window.location.href = "/profile";
        });
        




    </script>
    
</body>
</html>